@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header-block {
  background: linear-gradient(224deg, rgba(46, 49, 146, 0.70) 0%, rgba(212, 20, 90, 0.70) 100%);
  height: 77px;
  padding-top: 23px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }

  &__item {
    display: flex;
  }

  &__img {
    margin-right: 12px;
  }

  &__img-link {
    display: flex;
    align-items: center;
  }

  &__text {
    padding-top: 5px;
    height: 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #FFF;
  }

  &__text-link {
    margin-right: 12px;
  }

  &__text-geo {
    margin: 0 auto;
  }
}

.header {
  margin-top: 47px;

  &__inner {

    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    margin-right: 11px;
  }

  &__logo-title {
    @extend %title-font;
    font-style: italic;
    color: $title;
    font-size: 36px;
  }

  &__menu {
    display: flex;
  }

  &__menu-items {
    display: flex;
  }

  &__menu-item:not(:last-child) {
    margin-right: 25px;
  }

  &__menu-item-link {
    color: #737373;
    font-size: 18px;
    font-weight: 300;

  }

}

.footer {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url("../images/footer-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 264px;
      bottom: 0;
      right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  &__item-title {
    color: $title;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__item-link,
  &__item-text {
    color: $title;
    font-size: 14px;
  }

  &__item-text {
    max-width: 224px;
    line-height: 16px;
    padding-bottom: 15px;
  }

}

.top {

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url("../images/top-img-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 66%;
      height: 542px;
      top: 81px;
      right: -7px;
    }
  }

  &__item-img {
    background-blend-mode: normal;
  }

  &__item-img {

  }

  &__item-title {
    @extend %title-font;
    color: $title;
    font-size: 50px;
    height: 100%;
    margin-bottom: 15px;
  }

  &__item-text {
    color: $title;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__btn {
    @extend %title-font;
    font-size: 20px;
    border-radius: 7px;
    background: linear-gradient(136deg, #B90160 0%, #2E3192 100%);
    padding: 15px 40px;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
}

.about {
  margin-bottom: 225px;

  &__title {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 90px;
  }

  &__title span {
    background-image: linear-gradient(to right, #B90160, #B90160, #2E3192);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__items {
    display: grid;
    position: relative;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);

    &::before {
      content: '';
      position: absolute;
      background-image: url("../images/about-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 53%;
      height: 509px;
      left: -16px;
      top: 25px;
      z-index: -1;
    }
  }

  &__item {
    max-width: 344px;
    border-radius: 9px;
    box-shadow: 0 0 40px 0 rgba(184, 0, 95, 0.20);
    z-index: 1;
    background-color: #ffffff;
  }

  &__item-img {
    border-radius: 9px;
    object-fit: cover;
  }

  &__item-title {
    color: $title;
    font-weight: 700;
    font-size: 36px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 22px;
  }

  &__item-text {
    margin-left: 22px;
    padding-bottom: 23px;
    max-width: 289px;
    color: #767676;
    font-size: 14px;

  }
}

.feedback {
  background: linear-gradient(142deg, rgba(212, 20, 90, 0.25) 0%, rgba(46, 49, 146, 0.25) 100%);
  margin-bottom: 150px;

  &__slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    padding-bottom: 72px;
    padding-top: 98px;
    gap: 70px;

  }

  &__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  &__slider-item-img {
    position: absolute;
    top: -94px;
    object-fit: cover;
  }

  &__slider-item-info {
    padding-top: 63px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    background: #FFF;
    border-radius: 9px;

  }

  &__slider-item-info-p {
  }

  &__slider-item-text {
    color: $title;
    position: relative;
    margin-bottom: 21px;
    font-size: 18px;
    //max-width: 445px;
    //max-height: 74px;
    margin-left: 44px;
    margin-right: 47px;

    //&::after {
    //  content: '';
    //  position: absolute;
    //  width: 130px;
    //  height: 2px;
    //  background: linear-gradient(179deg, #D4145A 0%, #3D5BF5 100%);
    //  top: 73px;
    //  right: 209px;
    //}
  }

  &__slider-item-line {
    margin: 0 auto 9px;
  }

  &__slider-item-author {
    color: #8E8E8E;
    font-size: 13px;
    padding-bottom: 20px;
  }

}

//responsive
@media(max-width: 1023px) {
  .container {
    padding-left: 87px;
    padding-right: 87px;
  }
  .header-block {
    &__inner {
      display: flex;
      justify-content: space-evenly;
    }

    .header-block__inner > * {
      justify-self: center
    }


    &__item-hide {
      display: none;
    }
  }

  .header {
    &__menu {
      display: none;
    }

    &__item-title {

    }
  }
  .top {
    &__items {
      &::after {
        justify-self: center;
        top: 61px;
        right: -50px;
        width: 75%;
      }
    }
  }
  .about {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 61px;
    }

    &__item {
      width: 100%;
      height: 100%;
    }

    &__item-img {
      display: block;
      object-fit: cover;
      width: 100%;
    }

    &__item-text {

    }
  }

  .feedback {
    &__slider {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item-info {
      padding-bottom: 41px;
    }
  }

}

@media(max-width: 767px) {
  .container {

  }
  .header-block {

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__telephone {

    }

    &__img {
      display: none;
    }

    &__item-last {
      display: none;
    }

    &__item-hide {
      display: block;
    }

    &__text {
      font-size: 14px;
      line-height: 9.5px;
    }


  }
  .header {
    &__logo {
      margin-bottom: 41px;
    }

    &__logo-title {
      font-size: 18px;
    }
  }
  .top {
    &__items {
      &::after {
        //top: -34px;
        //left: -122px;
        //width: 209%;
      }

    }
    &__item {
      text-align: center;
    }

    &__item-title {
      font-size: 25px;
      line-height: 25px;
    }


    &__item + &__item {
        display: none;
    }
  }

  .about {
    &__title {
      margin-top: 53px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;

    }

    &__items {
      &::before {
        background: none;
      }
    }
    &__item {

    }
  }
  .feedback {
    margin-bottom: 61px;
  }

  .footer {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      &::after {
        background: none;
      }
    }

    &__item {
      align-items: center;
      text-align: center;
    }
  }
}
