@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header-block {
  background: linear-gradient(224deg, rgba(46, 49, 146, 0.70) 0%, rgba(212, 20, 90, 0.70) 100%);
  height: 77px;
  padding-top: 23px;


  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }

  &__item {
    display: flex;
  }

  &__img {
    margin-right: 12px;
  }

  &__img-link {
    display: flex;
    align-items: center;
  }

  &__text {
    padding-top: 5px;
    height: 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;
    color: #FFF;
    &:hover {
      font-size: 15px;
    }
  }

  &__text-link {
    margin-right: 12px;
  }

  &__text-geo {
    margin: 0 auto;
  }
}


.header {
  margin-top: 47px;

  &__inner {

    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    margin-right: 11px;
  }

  &__logo-title {
    @extend %title-font;
    font-style: italic;
    color: $title;
    font-size: 36px;
  }

  &__menu {
    display: flex;
  }

  &__menu-items {
    display: flex;
  }

  &__menu-item > &__menu-item-link:hover {
    color: #2E3192;
    font-size: 19px;

  }

  &__menu-item:not(:last-child) {
    margin-right: 25px;
  }

  &__menu-item-link {
    color: #737373;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s ease;

  }

}

.footer {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url("../images/footer-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 264px;
      bottom: 0;
      right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
  }

  &__item-title {
    color: $title;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__item-link,
  &__item-text {
    color: $title;
    font-size: 14px;
  }

  &__item-text {
    max-width: 224px;
    line-height: 16px;
    padding-bottom: 15px;
  }

}

.top {

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url("../images/top-img-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 66%;
      height: 542px;
      top: 81px;
      right: -7px;
    }
  }

  &__item-img {
    background-blend-mode: normal;
  }

  &__item-img {

  }

  &__item-title {
    @extend %title-font;
    color: $title;
    font-size: 50px;
    height: 100%;
    margin-bottom: 15px;
  }

  &__item-text {
    color: $title;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__btn {
    @extend %title-font;
    font-size: 20px;
    border-radius: 7px;
    background: linear-gradient(136deg, #B90160 0%, #2E3192 100%);
    padding: 15px 40px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s ease;

    &:hover {
      font-size: 21px;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    z-index: 999;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0 0 35px 0 rgba(212, 20, 90, 0.25);
    transition: 0.5s;
  }

  &__form-title {
    text-align: center;
    margin-bottom: 46px;
    padding-top: 43px;
    font-size: 24px;
    font-weight: 500;

  }

  &__form-items {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 125px;
    margin-right: 125px;
  }

  &__form-upper-items {
    display: flex;
    gap: 25px;
  }

  &__form-input {
    margin-bottom: 22px;
    min-width: 362.492px;
    min-height: 50.724px;
    border-radius: 9px;
    border: 1px solid #A1A1A1;
    background: #FFF;

    &::placeholder {
      color: #989898;
      font-size: 14px;
      font-weight: 300;
      padding-left: 15px;
    }
  }

  &__form-input-text {
    min-height: 82px;
    min-width: 750px;

  }


  &__form-btn {
    border: none;
    font-size: 20px;
    font-weight: 400;
    max-width: 137px;
    border-radius: 9px;
    color: #ffffff;
    background: linear-gradient(140deg, #D4145A 0%, #3D5BF5 100%);
    margin-bottom: 39px;
    padding: 5px 15px;
    transition: 0.3s ease;

    &:hover {
      font-size: 22px;
    }
  }


  .top__dropdown.open {
    display: block;
    animation: dropdownAnimation 0.7s ease forwards;
  }

  @keyframes dropdownAnimation {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.about {
  margin-bottom: 225px;

  &__title {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 90px;
  }

  &__title span {
    background-image: linear-gradient(to right, #B90160, #B90160, #2E3192);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__items {
    display: grid;
    position: relative;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);

    &::before {
      content: '';
      position: absolute;
      background-image: url("../images/about-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 53%;
      height: 509px;
      left: -16px;
      top: 25px;
      z-index: -1;
    }
  }

  &__item {
    max-width: 344px;
    border-radius: 9px;
    box-shadow: 0 0 40px 0 rgba(184, 0, 95, 0.20);
    z-index: 1;
    background-color: #ffffff;
  }

  &__item-img {
    border-radius: 9px;
    object-fit: cover;
  }

  &__item-title {
    color: $title;
    font-weight: 700;
    font-size: 36px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 22px;
  }

  &__item-text {
    margin-left: 22px;
    padding-bottom: 23px;
    max-width: 289px;
    color: #767676;
    font-size: 14px;

  }
}

.feedback {
  background: linear-gradient(142deg, rgba(212, 20, 90, 0.25) 0%, rgba(46, 49, 146, 0.25) 100%);
  margin-bottom: 150px;

  &__slider {
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    display: flex;
    padding-bottom: 72px;
    padding-top: 98px;
    gap: 70px;

  }

  &__slider-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  &__slider-item-img {
    position: absolute;
    top: -94px;
    object-fit: cover;
  }

  &__slider-item-info {
    padding-top: 63px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 9px;

    &:hover {
      background-color: #ffffff;
    }

  }

  &__slider-item-info-p {
  }

  &__slider-item-text {
    color: $title;
    position: relative;
    margin-bottom: 21px;
    font-size: 18px;
    margin-left: 44px;
    margin-right: 47px;

  }

  &__slider-item-line {
    margin: 0 auto 9px;
  }

  &__slider-item-author {
    color: #8E8E8E;
    font-size: 13px;
    padding-bottom: 20px;
  }

}

.animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animation.show {
  opacity: 1;
}

//responsive
@media(max-width: 1023px) {
  .container {
    padding-left: 87px;
    padding-right: 87px;
  }
  .header-block {
    &__inner {
      display: flex;
      justify-content: space-evenly;
    }

    .header-block__inner > * {
      justify-self: center
    }


    &__item-hide {
      display: none;
    }
  }

  .header {
    &__menu {
      display: none;
    }

  }
  .top {
    &__items {
      &::after {
        justify-self: center;
        top: 61px;
        right: -50px;
        width: 75%;
      }

      &__form-items {
        flex-direction: column;
      }

      &__form-input {

      }
    }
  }
  .about {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 61px;
    }

    &__item {
      width: 100%;
      height: 100%;
    }

    &__item-img {
      display: block;
      object-fit: cover;
      width: 100%;
    }

    &__item-text {

    }
  }

  .feedback {
    &__slider {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    &__item-info {
      padding-bottom: 41px;
    }
  }

}

@media(max-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .header-block {

    &__inner {
      flex-direction: column;
    }

    &__img {
      display: none;
    }

    &__item-last {
      display: none;
    }

    &__item-hide {
      display: block;
    }

    &__text {
      font-size: 14px;
      line-height: 9.5px;
    }


  }
  .header {
    &__inner {
      justify-content: center;
    }

    &__logo {
      margin-bottom: 41px;
      text-align: center;
    }

    &__logo-title {
      font-size: 18px;
    }
  }
  .top {
    &__items {
      display: flex;
      flex-direction: column;

      &::after {
        top: -37px;
        left: 74px;
        width: 70%;
      }
    }

    &__item-title {
      max-width: 194px;
      max-height: 75px;
      font-size: 25px;
      line-height: 25px;
    }


    &__item-img {
      display: none;
    }

    &__dropdown {
      width: 267px;
      height: 298px;
    }

    &__form-title {
      font-size: 15px;
      font-weight: 500;

    }

    &__form-items {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &__form-input {
      margin-bottom: 22px;
      width: 212px;
      height: 20px;
      border-radius: 9px;
      border: 1px solid #A1A1A1;
      background: #FFF;

      &::placeholder {
        color: #989898;
        font-size: 14px;
        font-weight: 300;
        padding-left: 15px;
      }
    }

    &__form-input-text {
      width: 212px;
      height: 95px;

    }


    &__form-btn {
      border: none;
      font-size: 20px;
      font-weight: 400;
      border-radius: 9px;
      margin-bottom: 39px;
      padding: 5px 15px;
      transition: 0.3s ease;
    }

  }

  .about {
    margin-bottom: 103px;

    &__title {
      margin-top: 53px;
      margin-bottom: 53px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;

    }

    &__items {
      &::before {
        background: none;
      }
    }


    &__item-title {
      font-size: 30px;
    }

    &__item-text {
      font-size: 14px;
    }
  }
  .feedback {
    margin-bottom: 61px;

    &__slider {
      gap: 80px;
    }

    &__slider-item {
      padding-left: 27px;
      padding-right: 27px;
    }
  }

  .footer {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      &::after {
        background: none;
      }
    }

    &__item {
      align-items: center;
      text-align: center;
    }
  }


}
